.strickland__articles__container {
    width: 50%;
    margin: 40px auto;
}

.strickland__article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strickland__title {
    font-size: 32px;
    text-align: center;
}

.strickland__image {
    width: 450px;
    height: fit-content;
}

@media screen and (max-width: 1015px) {
    .strickland__articles__container {
        width: 90%;
        margin: 40px auto;
    }
}

@media screen and (max-width: 660px) {
    .strickland__text {
        font-size: 15px;
    }

    .strickland__image {
        max-width: 450px;
        width: 100%;
        height: fit-content;
    }

    .strickland__video {
        width: 100%;
        height: 100%;
    }
}