.ilia__hero{
    height: 60vh;
    background-color: #F8F8F8;
    overflow: hidden;
    color: #000;
    display: grid;
    gap: 30px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.ilia__hero__info {
    margin-top: 100px;
}

.ilia__hero__p {
    line-height: 0;
}

.ilia__hero__name {
    font-size: 48px;
    line-height: 0;
}

.ilia__hero__nickname {
    font-weight: 700;
    line-height: 0;
}

.ilia__record {
    grid-column: 1/2;
    display: flex;
    text-align: center;
    height: 200px;
}

.ilia__record__container {
    border-right: 1px solid #000;
    padding: 10px;
}

.ilia__record__container3 {
    padding: 10px;
}

.ilia__record__number {
    font-size: 32px;
    font-weight: 700;
}

.ilia__image {
    margin-top: -100px;
}

/* articles */

.ilia__articles {
    width: 50%;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ilia__article__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ilia__title {
    font-size: 32px;
    text-align: center;
}

.ilia__video {
    margin: 0 auto;
}

@media screen and (max-width: 1015px) {


    /* articles */

    .ilia__articles {
        width: 90%;
    }

    .ilia__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 659px) {
    /* HERO */

    .ilia__hero{
        height: 80vh;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
    }

    .ilia__hero__p {
        font-size: 15px;
    }

    .ilia__hero__name {
        font-size: 32px;
        line-height: 0;
    }

    .ilia__hero__nickname {
        font-size: 15px;
        font-weight: 600;
    }

    .ilia__record {
        height: 100px;
    }

    .ilia__record__number {
        font-size: 24px;
        font-weight: 600;
    }

    .ilia__record {
        line-height: 10px;
    }

    .ilia__image {
        margin-top: 10px;
    }
    
    /* Articles */

    .ilia__video {
        width: 260px;
        height: fit-content;
    }

    .ilia__article__image {
        width: 80%;
        height: auto;
    }

    .ilia__text {
        font-size: 15px;
    }
}  