.navbar {
    background-color: #00000099;
    position: absolute;
    width: 995px;
    height: 70px;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.navbar__link {
    color: #fff;
    margin: 0 25px;
    text-decoration: none;
    transition: color .3s ease;
}

.navbar__link:hover {
    color: #ccc;
    transition: color .3s ease;
}

.navbar__logo {
    height: 30px;
    width: auto;
}

.logo {
    display: none;
}

.openMenu {
    display: none;
}
  
@media screen and (max-width: 1015px) {
    .navbar {
      width: 100%;
    }

    .navbar__link {
        margin: 0 15px;
    }
}

@media screen and (max-width: 660px) {
    .navbar {
      top: 0;
      font-size: 15px;
      justify-content: space-between;
      position: fixed;
    }

    .logo {
        display: block;
    }

    .logo img { 
        height: 12px;
        width: fit-content;
        margin-left: 15px;
    }
    
    .openMenu {
        display: block;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .navbar__container div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px
    }

    .navbar__container {
        position: absolute;
        background-color: #000;
        flex-direction: column;
        padding: 20px 0;
        gap: 10px;
        top: 60px;
        left: -100%;
        transition: left .3s ease;
    }

    .navbar__container.active {
        left: 0;
        transition: left .3s ease;
    }

    .navbar__logo {
        display: none;
    }
}  