.hero {
  height: 70vh;
  overflow: hidden;
  background-image: linear-gradient(180deg, #00000050 0%, #00000050 100%), url('../assets/hero-homepage.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.link {
  text-decoration: none;
}

.hero__title {
  margin-bottom: 70px;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.articles__container {
  width: 50%;
  margin: 40px auto;
}

.article {
  display: flex;
  flex-direction: column;
}

.article__title {
  font-size: 32px;
}

.article__img {
  align-self: center;
  width: 500px;
  height: fit-content;
}

@media screen and (max-width: 1015px) {
  .navbar {
    width: 100%;
    margin-left: 0;
  }

  .articles__container {
    width: 80%;
    margin: 40px auto;
  }

  .article__title {
    text-align: center;
  }
}

@media screen and (max-width: 660px) {
  .navbar {
    margin-top: 0;
  }

  .articles__container {
    width: 90%;
  }

  .hero__title {
    font-size: 36px;
    font-weight: 700;
    padding: 0 10px;
  }

  .article__title {
    font-size: 24px;
  }

  .article__img {
    width: 90%;
  }

  .article__p {
    font-size: 15px;
  }
}