.navbar {
  background-color: #00000099;
  position: absolute;
  width: 995px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: calc(50% - (995px / 2));
}

.hero {
  height: 70vh;
  overflow: hidden;
  background-image: url('../assets/hero-homepage.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero__title {
  margin-bottom: 70px;
  font-size: 60px;
  font-weight: 900;
}

.articles__container {
  width: 50%;
  margin-top: 40px;
  margin-left: 50px;
}

.article {
  display: flex;
  flex-direction: column;
}

.article__img {
  align-self: center;
}

@media screen and (max-width: 995px) {
  .navbar {
    width: 100%;
    margin-left: 0;
  }
}