.article__container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.article {
    width: 700px;
}

.article__image {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 660px) {
    .article__container {
        width: 95%;
    }
}