.articleHero {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.articleHero__title {
    font-size: 48px;
}

.articleHero__subtitle {
    font-size: 24px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}

.articleHero__image {
    object-fit: cover;
    object-position: center;
}

.articleHero__info {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 960px) {
    .articleHero__image {
        width: 100%;
    }

}

@media screen and (max-width: 660px) {
    .articleHero {
        width: 95%;
    }

    .articleHero__title {
        font-size: 32px;
    }
    
    .articleHero__subtitle {
        font-size: 18px;
    }

    .articleHero__info {
        flex-wrap: wrap;
    }
}