.campones__title {
    font-size: 18px;
    font-weight: 600;
}

.campeones__container {
    margin-top: 40px;
}

.campeones {
    display: flex;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #fff;
}

.campeones__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.campeones__name {
    font-size: 16px;
    font-weight: 600;
}

/* Donation */

.donation__container {
    max-width: 300px;
}

.donation__btn {
    background-color: #e3c729;
    padding: 15px;
    border-radius: 15px;
    color: #0c8aeb;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.donation__btn:hover {
    background-color: #0c70eb;
    color: #e3c729;
}

@media screen and (max-width: 920px) {
    .campeones__container {
        display: none;
    }
}