.estilos__hero {
    height: 60vh;
    overflow: hidden;
    background-image: linear-gradient(180deg, #00000080 0%, #00000080 100%), url('../../assets/estilos/estilos__hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.estilos__hero__title {
    font-size: 48px;
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    width: 60%;
}

.card {
    background-color: #fff;
    color: #000;
    width: 300px;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0px 0px 18px 0px rgba(82, 82, 82, 0.25);
}

.card__image {
    width: 100%;
    height: fit-content;
}

.card__title {
    text-align: center;
}

.card__text {
    padding: 15px;
}
/* Articulos Heros */

.estilosBoxeo__hero {
    background-image: linear-gradient(180deg, #00000050 0%, #00000050 100%), url('../../assets/estilos/box_hero.jpg');
    background-size: cover;
    background-position: right;
    overflow: hidden;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.estilosJiuJitsu__hero {
    background-image: linear-gradient(180deg, #00000050 0%, #00000050 100%), url('../../assets/estilos/bjj2.jpg');
    background-size: cover;
    background-position: top;
    overflow: hidden;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.estilosMuayThai__hero {
    background-image: linear-gradient(180deg, #00000050 0%, #00000050 100%), url('../../assets/estilos/muaythai_hero2.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.estilos__title {
    font-size: 48px;
}

/* Articulos Styles */

.estilos__container {
    width: 50%;
    margin: 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.estilos__image {
    width: 100%;
    height: fit-content;
}

@media screen and (max-width: 1015px) {
    .card__container {
        margin: 20px auto;
        justify-content: center;
        width: 90%;
    }

    .estilos__hero__title {
        font-size: 42px;
        text-align: center;
    }

    /* Articulos Styles */

    .estilos__container {
        width: 80%;
        margin: 70px auto;
    }

    .estilos__subtitle {
        text-align: center;
    }


    .estilos__title {
        text-align: center;
    }
}

@media screen and (max-width: 659px) {
    /* Articulos Styles */

    .estilos__container {
        width: 90%;
    }

    .estilos__text {
        font-size: 15px;
    }
}  