.peleador__articles__container {
    width: 95%;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
}

.peleador__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.peleador__article__title {
    font-size: 32px;
    text-align: center;
}

.peleador__article__image {
    width: 450px;
    height: fit-content;
}

@media screen and (max-width: 1015px) {
    .peleador__articles__container {
        width: 90%;
    }

    .peleador__article__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 660px) {
    .peleador__article__video {
        width: 100%;
        height: fit-content;
    }

    .peleador__article__image {
        max-width: 450px;
        width: 100%;
    }

    .peleador__article__text {
        font-size: 15px;
    }
}