.peleadores__hero {
    height: 60vh;
    overflow: hidden;
    background-image: linear-gradient(180deg, #00000080 0%, #00000080 100%), url('../../assets/peleadores__images/peleadores__hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.peleadores__hero__title {
    font-size: 48px;
    font-weight: 700;
}

.peleadores {
    max-width: 1200px;
    margin: 75px auto;
}

.peleadores__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.peleadores__card {
    height: 440px;
    width: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    text-decoration: none;
}

.peleadores__card:hover {
    box-shadow: 0px 0px 18px 0px rgba(82, 82, 82, 0.25);
}

.peleadores__card__name {
    font-size: 19px;
    font-weight: 700;
    color: #fff;
}

/* Btns */

.btns__container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 300px;
    align-self: center;
    justify-content: space-between;
}

.btns__btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.btns__btn:hover {
    background-color: #000;
    color: #fff;
    border: none;
}

.btns__page {
    font-size: 18px;
}

/* Campeones de UFC */

.peleadores__card_illia {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/10-20/ilia-topuria/illia__topuria.jpg');
}

.peleadores__card_merab {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/20-30/merab-dvalishvili/merab_dvalishvili-card.jpg');
    background-position: center;
}

.peleadores__card_volkanovski {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/0-10/alexander-volkanovski/volkanovski.jpg');
    background-position: right;
}

.peleadores__card_makhachev {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/10-20/islam-makhachev/islam__makhachev.jpg');
}

.peleadores__card_pereira {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/0-10/alex-pereira/pereira_card.jpg');
    background-position: center;
}

.peleadores__card_pantoja {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/0-10/alexandre-pantoja/alexandre_pantoja.jpg');
    background-position: top;
}

.peleadores__card_aspinall {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/0-10//tom-aspinall/aspinall_card.jpg');
    background-position: center;
}

.peleadores__card_chimaev {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/10-20/khamzat-chimaev/khamzat_card.jpg');
    background-position: center;
}

.peleadores__card_belal {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/20-30/belal-muhammad/belal-card.jpg');
    background-position: center;
}



@media screen and (max-width: 1200px) {
    .peleadores {
        width: 90%;
        margin: 30px auto;
    }

    .peleadores__subtitle {
        text-align: center;
    }

    .peleadores__container {
        width: 100%;
        justify-content: center;
    }

    .btns__container {
        margin: 20px auto;
    }

}

@media screen and (max-width: 660px) {
    .peleadores__hero__title {
        font-size: 36px;
        text-align: center;
    }

    .peleadores__card {
        width: 95%;
        max-width: 300px;
    }

    .btns__container {
        width: 250px;
    }
}