.peleadores__hero {
    height: 60vh;
    overflow: hidden;
    background-image: linear-gradient(180deg, #00000080 0%, #00000080 100%), url('../../assets/peleadores__images/peleadores__hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.peleadores__hero__title {
    font-size: 48px;
    font-weight: 700;
}

.peleadores {
    max-width: 1200px;
    margin: 75px auto;
}

.peleadores__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.peleadores__card {
    height: 440px;
    width: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    text-decoration: none;
}

.peleadores__card:hover {
    box-shadow: 0px 0px 18px 0px rgba(82, 82, 82, 0.25);
}

.peleadores__card__name {
    font-size: 19px;
    font-weight: 700;
    color: #fff;
}

/* Btns */

.btns__container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 300px;
    align-self: center;
    justify-content: space-between;
}

.btns__btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.btns__btn:hover {
    background-color: #000;
    color: #fff;
    border: none;
}

.btns__page {
    font-size: 18px;
}

/* Campeones de UFC */

.peleadores__card_joshuavan {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/40-60/joshua-van/joshua-van-card.webp');
}

.peleadores__card_petryan {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/40-60/petr-yan/petr_yan-card.webp');
    background-position: center;
}

.peleadores__card_gaethje {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/10-20/justin-gaethje/gaethje_card.jpg');
    background-position: center;
}

.peleadores__card_volkanovski {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/0-10/alexander-volkanovski/volkanovski.jpg');
    background-position: right;
}

.peleadores__card_makhachev {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/10-20/islam-makhachev/islam__makhachev.jpg');
}

.peleadores__card_strickland {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/20-30/sean-strickland/sean__strickland.jpg');
    background-position: center;
}

.peleadores__card_carlosulberg {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/40-60/carlos-ulberg/ulberg_card.webp');
}

.peleadores__card_cirylGane {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/0-100/30-40/ciryl-gane/ciryl_gane-card.jpg');
    background-position: center;       
}


@media screen and (max-width: 1200px) {
    .peleadores {
        width: 90%;
        margin: 30px auto;
    }

    .peleadores__subtitle {
        text-align: center;
    }

    .peleadores__container {
        width: 100%;
        justify-content: center;
    }

    .btns__container {
        margin: 20px auto;
    }

}

@media screen and (max-width: 660px) {
    .peleadores__hero__title {
        font-size: 36px;
        text-align: center;
    }

    .peleadores__card {
        width: 95%;
        max-width: 300px;
    }

    .btns__container {
        width: 250px;
    }
}