.peleadores__hero {
    height: 60vh;
    overflow: hidden;
    background-image: linear-gradient(180deg, #00000080 0%, #00000080 100%), url('../../assets/peleadores__images/peleadores__hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.peleadores__hero__title {
    font-size: 48px;
    font-weight: 700;
}

.peleadores {
    width: 65%;
    margin: 75px 30px;
}

.peleadores__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.peleadores__card {
    height: 440px;
    width: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    text-decoration: none;
}

.peleadores__card:hover {
    box-shadow: 0px 0px 18px 0px rgba(82, 82, 82, 0.25);
}

.peleadores__card__name {
    color: #fff;
}

/* Luchadores MMA */

.peleadores__card_illia {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/ilia-topuria/illia__topuria.jpg');
}

.peleadores__card_ngannou {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/francis-ngannou/ngannou_card.jpg');
    background-position: center;
}

.peleadores__card_ferguson {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/tony-ferguson/ferguson_card2.webp');
    background-position: center;
}

.peleadores__card_mcgregor {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/conor-mcgregor/mcgregor-card.jpg');
    background-position: center;
}

/* Campeones */

.peleadores__card_omalley {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/sean-omalley/sean__omalley.jpg');
    background-position: center;
}

.peleadores__card_makhachev {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/islam-makhachev/islam__makhachev.jpg');
}

.peleadores__card_volkanovski {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/alexander-volkanovski/volkanovski.jpg');
    background-position: right;
}

.peleadores__card_strickland {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/sean-strickland/sean__strickland.jpg');
    background-position: center;
}

.peleadores__card_pereira {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/alex-pereira/pereira_card.jpg');
    background-position: center;
}

.peleadores__card_jones {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/jon-jones/jon_jones_card.jpg');
    background-position: center;
}

.peleadores__card_pantoja {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/alexandre-pantoja/alexandre_pantoja.jpg');
    background-position: top;
}

.peleadores__card_julianna {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/juliana-pena/julianna_card.jpg');
    background-position: top;
}

.peleadores__card_edwards {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/leon-edwards/edwards_card.jpg');
    background-position: center;
}

.peleadores__card_weili {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/zhang-weili/weili_card.jpg');
    background-position: center;
}

/* Argentinos MMA */

.peleadores__card_emiliano {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/emiliano-sordi/Emiliano_Sordi.jpg');
    background-position: center;
}

.peleadores__card_ponzinibbio {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/santiago-ponzinibbio/ponzinibbio_card.jpg');
    background-position: center;
}

.peleadores__card_staropoli {
    background-image: linear-gradient(180deg, #75212157 0%, #75212157 100%), url('../../assets/peleadores__images/laureano-staropoli/staropoli_card.jpg');
    background-position: center;
}

@media screen and (max-width: 1015px) {
    .peleadores {
        width: 90%;
        margin: 30px auto;
    }

    .peleadores__subtitle {
        text-align: center;
    }

    .peleadores__container {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 660px) {
    .peleadores__hero__title {
        font-size: 36px;
        text-align: center;
    }

    .peleadores__card {
        width: 95%;
        max-width: 300px;
    }
}