.articulos {
    max-width: 1200px;
    margin: 0 auto;
}

.articles__container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.articulos__title {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

@media screen and (max-width: 1200px) {
    .articulos {
        width: 95%;
    }

    .articles__container {
        justify-content: center;
    }
}